# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
target/
.classpath
.project
*.eml
out
gen
.DS_Store
.idea/
account/.classpath
account/.project
account/account.eml
account/account.iml
account/src/main/java/com/ydzb/account/.DS_Store
account/src/main/java/com/ydzb/account/service/.DS_Store
account/target/
admin/.classpath
admin/.project
admin/admin.eml
admin/admin.iml
admin/target/
core/.classpath
core/.project
core/core.eml
core/core.iml
core/src/main/java/com/ydzb/core/.DS_Store
core/target/
draw/.classpath
draw/.project
draw/draw.eml
draw/draw.iml
draw/target/
message/.classpath
message/.project
message/message.eml
message/message.iml
message/target/
packet/.classpath
packet/.project
packet/packet.eml
packet/packet.iml
packet/src/main/java/com/ydzb/packet/.DS_Store
packet/target/
parent.iml
product/.classpath
product/.project
product/product.eml
product/product.iml
product/target/
sms/.classpath
sms/.project
sms/sms.eml
sms/sms.iml
sms/src/main/java/com/ydzb/sms/service/.DS_Store
sms/target/
user/.classpath
user/.project
user/target/
user/user.eml
user/user.iml
web/src/main/.DS_Store
web/src/main/resources/.DS_Store
web/src/main/webapp/WEB-INF/views/product/.DS_Store
web/src/main/webapp/WEB-INF/views/redpacket/.DS_Store
web/target/
web/web.iml
ydzb3.iml
